### Strings are sequence of Characters enclosed with quotes.

#### In Python specifically, strings are a sequence of Unicode Characters.

In [2]:
# Creation of strings.

s = 'hello world'
print(s)
s1 = "hello world"
print(s)
multi_linestr = """Hello world"""
print("Multi line strings :", multi_linestr)

hello world
hello world
Multi line strings : Hello world

In [4]:
# The difference between single and double quotes:

s_single = 'its"s raining today'
print(s_single)
s_double = "it's raining today"
print(s_double)

its"s raining today
it's raining today

In [5]:
# Accessing character from a string using indexing


s = "python is awesome"

# Positive Indexing
print(s[1])
print(s[2])

# Negative Indexing
print(s[-1])
print(s[-3])

y
t
e
o

In [12]:
# Accessing substrings from a string using slicing

s = "Transformers"

# Positive slicing

print(s[::])
print(s[3:])

# Step size
print(s[::2])

# Negative slicing
print(s[-4:-1])
print(s[-13:-11])

Transformers
nsformers
Tasomr
mer
T

In [13]:
# Reversing String

print(s[::-1])

sremrofsnarT

In [15]:
# Strings are Immutable therfore it does not support item assignement.

s[0] = 'a'
print(s)
del s[2:5]
print(s)

TypeError: 'str' object does not support item deletion

In [16]:
# You can delete the reference of a full string

s1 = 'hello'
print(s1)
del s1
print(s1)

hello

NameError: name 's1' is not defined

In [17]:
# Operations on Strings

# Arithmetic Operations
# Relational Operations
# Logical Operations
# Loops on Strings
# Membership Operations

In [18]:
concat = "Linear" + ' ' + "Regression"
print(concat)

Linear Regression

In [22]:
mul = '*' * 100
print(mul)

****************************************************************************************************

In [24]:
# Strings checks lexiographically

'tensor' > 'torch'

False

In [25]:

'tensor' < 'torch'

True

In [27]:

'tensor' != 'torch'

True

In [28]:
'langchain' >= 'langraph'

False

In [29]:
'' and 'hello'

''

In [30]:
'hello' and 'world'

'world'

In [31]:
'' or 'world'

'world'

In [32]:
not ''

True

In [33]:
not 'python'

False

In [34]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [36]:
for index, x in enumerate('python'):
    print(index,x)

0 p
1 y
2 t
3 h
4 o
5 n

In [38]:
print("D" in 'data Structures')
print("d" in 'data Structures')
print('f' not in 'football')

False
True
False

In [ ]:
#  Methods

# len
# max
# min
# sorted

In [39]:
print(len(s))

12

In [41]:
print(min(s))

T

In [42]:
print(max(s))

s

In [43]:
print(sorted(s))

['T', 'a', 'e', 'f', 'm', 'n', 'o', 'r', 'r', 'r', 's', 's']

In [44]:
print(sorted(s,reverse=True))

['s', 's', 'r', 'r', 'r', 'o', 'n', 'm', 'f', 'e', 'a', 'T']

In [51]:
# Capitalize/Title/Upper/Lower/Swapcase

s3 = 'mixture of experts'
print(s3)
print(s3.capitalize())
print(s3.title())
s4 = 'DyNamo'
print(s4.swapcase())
print(s3.lower())
print(s3.upper())

mixture of experts
Mixture of experts
Mixture Of Experts
dYnAMO
mixture of experts
MIXTURE OF EXPERTS

In [56]:
# Count/Find/Index

strs = "Hi my name is anas"
print(strs.index('a'))
print(strs.count('a'))
print(strs.find('a'))

7
3
7

In [59]:
# Difference between find and index

print(strs.index('a'))

7

In [62]:
print(strs.find('z'))

-1

In [66]:
# endswith/startswith

'my name is anas'.startswith('my')

True

In [67]:
'my name is anas'.endswith('nas')

True

In [69]:
print('my name is anas'.endswith('fsa'))

False

In [75]:
# Format

name = 'anas'
age = 23

# Positional argument
"Hi my name is {} and i am {} old".format(name,age)

'Hi my name is anas and i am 23 old'

In [76]:
"Hi my name is {0} and i am {1} old".format(name,age)

'Hi my name is anas and i am 23 old'

In [78]:
# Keyword
print("Hi my name is {name} and I am {age} old".format(name=name, age=age))

Hi my name is Anas and I am 25 old

In [86]:
# isalnum/ isalpha/ isdigit/ isidentifier
print(s.isalnum())
print(s.isalpha())
print('1'.isdigit())
print('user_anas'.isidentifier())

True
True
True
True

In [87]:
# Split/Join

'my name is mohammed anas'.split()

['my', 'name', 'is', 'mohammed', 'anas']

In [88]:
'my name is mohammed anas'.split('is')

['my name ', ' mohammed anas']

In [91]:
' '.join(['my', 'name', 'is', 'mohammed', 'anas'])

'my name is mohammed anas'

In [95]:
# Replace
'I love machine learning'.replace('machine', 'deep')

'I love deep learning'

In [96]:
'I love machine learning'.replace('agentic', 'machine')

'I love machine learning'

In [98]:
# Strip

print('Python is awesome     '.strip())
print('          Python is awesome     '.strip())
print('Python is      awesome     '.strip())

Python is awesome
Python is awesome
Python is      awesome