
##### Introduction to Tuples
Explanation:

Tuples are ordered collections of elements that are immutable.
They are similar to lists, but their immutability makes them different.

In [1]:
## Creation of tuples

## Empty tuple

tup = tuple()
print((tup),type(tup))

() <class 'tuple'>

In [2]:
## Single element tuple


tup1 = tuple((1,))
print((tup1),type(tup1))

(1,) <class 'tuple'>

In [37]:
## Homogenous tuple

Homo_tup = tuple((1,2,3,4,5,6))

print((Homo_tup),type(Homo_tup))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [16]:
## Hetrogenous tuple

Hetro_tuple = tuple(([1,2,3,4],{'D':'anas'},True,10,11))
print((Hetro_tuple,type(Hetro_tuple)))

(([1, 2, 3, 4], {'D': 'anas'}, True, 10, 11), <class 'tuple'>)

In [20]:
## Accessing tuple using the indexing and slicing operations.

## Indexing.

## Positive Indexing.

tup = tuple((1,2,3,4,5,6,7))

print(Hetro_tuple)

print(tup[0])
print(tup[6])
print(Hetro_tuple[0][3])
print(Hetro_tuple[0][2])
print(Hetro_tuple[1].items())

## Negative Indexing.

print(tup[-1])
print(tup[-6])

([1, 2, 3, 4], {'D': 'anas'}, True, 10, 11)
1
7
4
3
dict_items([('D', 'anas')])
7
2

In [21]:
## positive Slicing

print(tup)
print(Hetro_tuple)

(1, 2, 3, 4, 5, 6, 7)
([1, 2, 3, 4], {'D': 'anas'}, True, 10, 11)

In [22]:
print(tup[:])
print(Hetro_tuple[::2])
print(tup[::3])
print(Hetro_tuple[0][:])

(1, 2, 3, 4, 5, 6, 7)
([1, 2, 3, 4], True, 11)
(1, 4, 7)
[1, 2, 3, 4]

In [25]:
## Negative slcicing

print(tup[-7:-1])
print(tup[-7::2])

print(Hetro_tuple[-5:])
print(Hetro_tuple[-5][-2:-1])
print(Hetro_tuple[-5][-4:-2])

(1, 2, 3, 4, 5, 6)
(1, 3, 5, 7)
([1, 2, 3, 4], {'D': 'anas'}, True, 10, 11)
[3]
[1, 2]

In [26]:
## Reversing the tuple

print(tup[::-1])
print(Hetro_tuple[::-1])

(7, 6, 5, 4, 3, 2, 1)
(11, 10, True, {'D': 'anas'}, [1, 2, 3, 4])

In [14]:
## Tuple is immutable therefore it doesn't support item assignement.

print(tuple)

tup[0] = 11

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [30]:
## Deleting the whole tuple using del operator - In technical terms deleting the reference.

tup_new = tuple((2,3,4,5))

del tup_new

In [31]:
tup_new

NameError: name 'tup_new' is not defined

In [39]:
## Tuple methods.

tup_v1 = tuple((1,2,2,2,2,"Hello","World",[11,21,32,43]))

print(tup_v1.count(2))

print(tup_v1.index(2))

4
1

In [ ]:
## Tuple operations.

## Arthemtic

concat = Homo_tup +  Hetro_tuple

print(concat)

repetable = tup*5
print(repetable)

(1, 2, 3, 4, 5, 6, [1, 2, 3, 4], {'D': 'anas'}, True, 10, 11)
(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)
hello world

In [50]:
## Comparsion

tup_x = tuple((1,2,3,4,5))
tup_y = tuple((11,21,33,42))

print(tup_x > tup_y)
print(tup_x < tup_y)
print(tup_x >= tup_y)
print(tup_x <= tup_y)
print(tup_x == tup_y)
print(tup_x != tup_y)

False
True
False
True
False
True

In [60]:
## Logical

tup_x = tuple((1,2,3,4,5))
tup_y = tuple((11,21,33,42))

print(tup_x and tup_y)
print(tup_x or tup_y)
print(not tup_x)

(11, 21, 33, 42)
(1, 2, 3, 4, 5)
False

In [62]:
tup

(1, 2, 3, 4, 5, 6, 7)

In [61]:
## Loops

for i in tup:
    print(i)

1
2
3
4
5
6
7

In [66]:
for index,i in enumerate(tup):
    print(index,i)

0 1
1 2
2 3
3 4
4 5
5 6
6 7

In [64]:
for i in Hetro_tuple:
    print(i)

[1, 2, 3, 4]
{'D': 'anas'}
True
10
11

In [63]:
## Packing an unpacking tuples

## Packing tuples

packed_tuple = 'abc',3.14,77+2j
print(packed_tuple)

('abc', 3.14, (77+2j))

In [64]:
## Unpacking tuples

x,y,z = packed_tuple

print(x)
print(y)
print(z)

abc
3.14
(77+2j)

In [81]:
## Unpacking tuple using *

numbers = tuple((1,2,3,4,5,6,7))

first,second,*extra,third = numbers

print((first),(second),(third))
print(*extra)

1 2 7
3 4 5 6

In [48]:
## Nested tuple.
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
print(type(nested_tuple))

<class 'tuple'>

In [49]:
## access the elements inside a tuple
print(nested_tuple[2][0])
print(nested_tuple[0][2])

7
3

In [50]:
nested_tuples_new = ((1, 2, 3), ("a", "b", "c"), (True, False))

print(nested_tuples_new[2][1])

False

In [88]:
## Iterating over nested tuples

for sub_tuples in nested_tuple:
    for item in sub_tuples:
        print(item,end='')
    print()

123
456
789

In [56]:
nested_tuple = (('A', 'B', 'C'), ('X', 'Y', 'Z'))

for sub_item in nested_tuple:
    for item in sub_item:
        print(item,end='')
    print()

ABC
XYZ

In [60]:
## Membership test

tup = tuple((1,2,3,4,5,6,7))

print(7 in tup)
print(1 not in tup)

True
False

In [103]:
## Create a square of first 10 positive integers.

squares = tuple(x**2 for x in range(1,11))
print(squares)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [104]:
# Write a program to find the even_numbers from a range using the tuple comprehension.


even_numbers = tuple(x for x in range(1,11) if x%2 == 0)
print(even_numbers)

(2, 4, 6, 8, 10)

In [109]:
## Zip function.
tup1 = (1,2,3,4,5)
tup2 = ('a','b','c','d','e')
pair = tuple(zip(tup1,tup2))
print(pair)

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'))