# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [3]:
tup = tuple(range(1,11))
print(tup)
print(type(tup))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [4]:
print(f"The first element : {tup[0]}")
print(f"The middle element : {tup[len(tup) // 2]}")
print(f"The last element : {tup[-1]}")

The first element : 1
The middle element : 6
The last element : 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [8]:
print(tup[:3])
print(tup[-3:])
print(tup[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [10]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"The element at the second row and third column are : {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
The element at the second row and third column are : 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [12]:
tup1 = tuple((1,2,3))
tup2 = tuple((4,5,6))

concat_tup = tup1 + tup2
print(concat_tup)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [16]:
tupl = tuple((1,2,3,2,3,1,5,6,7,1,18,19,1,20,1,23,1,45,1,67,1))
print(f"Occurerences of 1: {tupl.count(1)}")
print(f"Index of first occurences of 1 : {tupl.index(1)}")

Occurerences of 1: 8
Index of first occurences of 1 : 0

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
packed_tpl = tuple(range(1,6))
print(f"The packed tuples are : {packed_tpl}")

#Unpack.
a,b,c,d,e = packed_tpl
print((a),(b),(c),(d),(e))

The packed tuples are : (1, 2, 3, 4, 5)
1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [20]:
lst = list(range(1,6))
print(lst)

## Convert list into a tuple

tpl = tuple(lst)
print((tpl),type(tpl))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5) <class 'tuple'>

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [30]:
tpls = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(f"Tuple_of_Tuples is {tpls}")

Tuple_of_Tuples is ((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [23]:
tpl = tuple(range(1,6))
print(tpl)

## Convert the tuple into string

lsts = list(tpl)
print(lsts)
lsts.append(6)

## Convert list back to tuple

tpl = tuple(lsts)
print(tpl)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
strs = "Python"

tupls = tuple(strs)
# print(type(tupls))
strs_join = "".join(tupls)
print(strs_join)

<class 'tuple'>
Python

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [48]:
tpl_dict = {
    (1,2,3):4,
    (5,6,7):18,
    (9,10,11):12

}

print(tpl_dict,type(tpl_dict))

{(1, 2, 3): 4, (5, 6, 7): 18, (9, 10, 11): 12} <class 'dict'>

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [50]:
nested_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for sub_tpl in nested_tpl:
    for item in sub_tpl:
        print(item)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [44]:
tpls = tuple((1,True,0,False,2,3,4,1,7,3))
print(tpls)
sets = set(tpls)
print(sets)

(1, True, 0, False, 2, 3, 4, 1, 7, 3)
{0, 1, 2, 3, 4, 7}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [47]:
def min_of_tpl(tpl):
    return min(tpl)
def max_of_tpl(tpl):
    return max(tpl)
def sum_of_tpl(tpl):
    return sum(tpl)

sample_tpl = tuple((1,2,3,4,5,6))

print(f"Minimum : {min_of_tpl(sample_tpl)}")
print(f"Maximum : {max_of_tpl(sample_tpl)}")
print(f"Sum : {sum_of_tpl(sample_tpl)}")

Minimum : 1
Maximum : 6
Sum : 21