#### Introduction To Sets

Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [54]:
## Creation of set

## Empty set

sets = set()
print((sets),type(sets))

set() <class 'set'>

In [55]:
sets = set({})
print(type(sets))

<class 'set'>

In [56]:
sets = set({1,2,3,4,2,True})
print(sets)

{1, 2, 3, 4}

In [57]:
sets = set([1,2,3,4,5,6,7,2,3])
print(sets)

{1, 2, 3, 4, 5, 6, 7}

In [7]:
cache = {}
ingredients = frozenset(["egg", "flour", "milk"])

if ingredients in cache:
    print("Using cached result")
else:
    result = {'cake':'pancakes'}
    cache[ingredients] = result
print(cache)

{frozenset({'egg', 'flour', 'milk'}): {'cake': 'pancakes'}}

In [59]:
dict = {}
print(type(dict),dict)
key = frozenset([1,2,3])
dict[key] = 4
print(dict)

<class 'dict'> {}
{frozenset({1, 2, 3}): 4}

In [60]:
fs = frozenset("Hello World")
print(fs)
# Output: frozenset({'l', 'h', 'e', 'o'}) – Note: No duplicates

frozenset({'H', 'd', ' ', 'o', 'e', 'l', 'W', 'r'})

In [61]:
## Set Methods.

my_set = set({1,2,3,4,5,6})
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [32]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [62]:
my_set.update({8,9,10,11})
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [63]:
sets1 = {1,2,3,4}
sets2 = {5,6,7,8}

sets1.update(sets2)
print(sets1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [64]:
my_set.remove(10)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [65]:
## Removes the first element
my_set.pop()
print(my_set)

{2, 3, 4, 5, 6, 7, 8, 9, 11}

In [66]:
my_set.pop()
print(my_set)

{3, 4, 5, 6, 7, 8, 9, 11}

In [67]:
my_set.discard(10)
print(my_set)

{3, 4, 5, 6, 7, 8, 9, 11}

In [68]:

## Discard is useful method it would remove the element if it is a part of set else will not throw error.
my_set.discard(20)
print(my_set)

{3, 4, 5, 6, 7, 8, 9, 11}

In [69]:
set_new = set((1,2,3))
print(set_new)
set_new.clear()
print(set_new)

{1, 2, 3}
set()

In [71]:
## Issubset

set1 = set({1,2,3,4,5})
set2 = set({3,4,5,2,1,11})
set3 = set({8,9,10,11,12})
set4 = set({7,8,13,14,16})

print(set1.issubset(set2))
print(set2.issubset(set1))
print(set3.issubset(set4))
print(set4.issubset(set3))

True
False
False
False

In [ ]:
## Issuperset

print(set1.issuperset(set2))
print(set2.issuperset(set1))
print(set3.issuperset(set4))
print(set4.issuperset(set3))

False
False
False
False

In [72]:
my_set = {1,2,3,4,5,6}

In [73]:
## Set membership test

print(my_set)

print(3 in my_set)
print(7 not in my_set)
print(1 in my_set)
print(6 not in my_set)

{1, 2, 3, 4, 5, 6}
True
True
True
False

In [12]:
## MAthematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

### Union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}

In [13]:
set1.intersection_update(set2)
print(set1)

{4, 5, 6}

In [14]:
set2.intersection_update(set1)
print(set2)

{4, 5, 6}

In [15]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

In [16]:
## Difference

print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 3}
{8, 9, 7}

In [17]:
set2.difference(set1)

{7, 8, 9}

In [ ]:
## Difference update

set1.difference_update(set2)
print(set1)
set2.difference_update(set1)
print(set2)

{1, 2, 3}
{4, 5, 6, 7, 8, 9}

In [ ]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

In [ ]:
## Symmetric difference

set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [ ]:
set2.symmetric_difference(set1)

{1, 2, 3, 7, 8, 9}

In [ ]:
## Symmetric difference update
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 7, 8, 9}

In [ ]:
set2.symmetric_difference_update(set1)
print(set2)

{1, 2, 3, 7, 8, 9}

In [ ]:
### Counting Unique words in text

text="In this chapter we are learning about sets in detail"
words=text.split()

## Convert collection of words into sets.

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'learning', 'this', 'are', 'chapter', 'in', 'In', 'detail', 'we', 'about', 'sets'}
10

In [ ]:
# You have two lists — one of product names and another of their prices. Use zip() to combine them into a list of tuples, and then print each product with its price in the format:
# Product: <name>, Price: <price>

In [23]:
products = ["Laptop", "Mouse", "Keyboard", "Monitor"]
prices = [1200, 25, 45, 300]

product_prices = list(zip(products,prices))
product_prices

for product,price in product_prices:
    print(f"Product : {product}, Price : {price}")

Product : Laptop, Price : 1200
Product : Mouse, Price : 25
Product : Keyboard, Price : 45
Product : Monitor, Price : 300

In [25]:
products = ["Laptop", "Mouse", "Keyboard", "Monitor", "Charger"]
prices = [1200, 25, 45, 300, 60]

product_prices = list(zip(products,prices))
print(product_prices)

expensive_items = {(product, prices) for product, prices in product_prices if prices > 100}
print(expensive_items)

[('Laptop', 1200), ('Mouse', 25), ('Keyboard', 45), ('Monitor', 300), ('Charger', 60)]
{('Monitor', 300), ('Laptop', 1200)}

In [ ]:
# Unique Student-Subject Pairs

In [33]:
students = ["Anna", "Bob", "Clara", "David", "Eva", "Bob"]
subjects = ["Math", "Science", "Math", "Art", "Science", "Math"]

# Unique (student, subject) pairs
unique_pairs = set(zip(students, subjects))
print("Unique student-subject pairs:")
print(unique_pairs)

# Unique students
unique_students = {stu for stu, _ in unique_pairs}
print("\nUnique students:")
print(unique_students)

# Unique subjects
unique_subjects = {sub for _, sub in unique_pairs}
print("\nUnique subjects:")
print(unique_subjects)

Unique student-subject pairs:
{('Clara', 'Math'), ('David', 'Art'), ('Eva', 'Science'), ('Anna', 'Math'), ('Bob', 'Science'), ('Bob', 'Math')}

Unique students:
{'Eva', 'Bob', 'Anna', 'Clara', 'David'}

Unique subjects:
{'Science', 'Math', 'Art'}

#### Conclusion
Sets are a powerful and flexible data type in Python that provide a way to store collections of unique elements. They support various operations such as union, intersection, difference, and symmetric difference, which are useful for mathematical computations. Understanding how to use sets and their associated methods can help you write more efficient and clean Python code, especially when dealing with unique collections and membership tests.