#### Introduction to map() Function in Python

The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [ ]:
def square(x):
    return x*x
d
print(square(5))

25

In [4]:
tpl = tuple((1,2,3,4,5))

tuple(map(square,tpl)) # Map function takes function, iterable.

(1, 4, 9, 16, 25)

In [10]:
# Lambda function with map

tpl = tuple((1,2,3,4,5))

tuple(map(lambda x:x*x,tpl))

(1, 4, 9, 16, 25)

In [15]:
# Map multiple iterables

L1 = [1,2,3,4]
L2 = [5,6,7,8]

list(map(lambda X1,Y2:X1+Y2,L1,L2))

[6, 8, 10, 12]

In [13]:
# Map() to convert a list of strings to integers

lst_strngs = ['1','2','3','4','5']
print(lst_strngs)

lst_int = list(map(int,lst_strngs))
print(lst_int)

['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

In [23]:
# Map function with multiple string functions.

fruits = ['apple','cherry','orange']

list(map(str.upper,fruits))

['APPLE', 'CHERRY', 'ORANGE']

In [24]:
fruits = ['apple','cherry','orange']

list(map(str.title,fruits))

['Apple', 'Cherry', 'Orange']

In [23]:
def get_name(person):
    return person['name']

student_details = [

    {'name':'anas','age':23},
    {'name':'hafsa','age':2},
    {'name':'aliza','age':9}


]    

list(map(get_name,student_details))

['anas', 'hafsa', 'aliza']

In [31]:

# 1.You are given a list of numbers. Write a lambda function using map to cube each number in the list.

In [27]:
numbers = list(range(1,7))

cube = list(map(lambda num:num**3,numbers))
print(cube)

[1, 8, 27, 64, 125, 216]

In [ ]:
# 2.Given a list of strings, use map  to convert each string to uppercase.

In [37]:
fruits = ['apple','banana','cherry']

upper = list(map(str.upper,fruits))
upper

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
#  Question 3:
# Given a list of integers, return a new list where each number is replaced with:

# 'even' if the number is even

# 'odd' if the number is odd

In [41]:
lst = list(range(1,7))

even_odd = list(map(lambda num: 'even' if num%2 == 0 else 'odd',lst))
print(even_odd)

['odd', 'even', 'odd', 'even', 'odd', 'even']